html, body {
  margin: 0;
  background-color: #DCEEF2;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
  height: 100vh;
  width: 100vw;
}

.header {
  width: 700px;
  height: 300px;
  margin: 0 auto 20px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttons {
  position: absolute;
  top: 260px;
  width: 300px;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

#one-player-mode, #two-players-mode {
  padding: 5px 10px;
  border: none;
  background-color: rgb(197, 186, 122);
  color: white;
}



#game-area {
  width: 700px;
  height: 700px;
  margin: 50px auto;
  border: 1px solid #C5D3D9;
  /* inner elements layout */
  display: flex;
  flex-wrap: wrap;
}

.block {
  flex: 233px 1 1;
  height: 233px;
  box-sizing: border-box;
  border: 4px solid #C5D3D9;
  border-collapse: collapse;
  /* inner element layout */
  display: flex;
}

img {
  width: 103%;
  align-self: center;
}

#game-end {
  position: absolute;
  top: 300px;
  left: 0px;
  right: 0px;
  margin: 50px auto;
  width: 700px;
  height: 550px;
  background-color: rgb(236, 205, 200, 0.95);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

#game-end img {
 width: 60%;
}

h3 {
 color:rgb(173, 104, 25);
}

#play-again, #card-link {
  margin-bottom: 30px;
  padding: 5px 10px;
  border: none;
  background-color: rgb(197, 186, 122);
  color: white;
}


